.THIS.username{
    height:50%;
    width:50%;
    margin-top:20px;
}
.THIS.password{
    height:50%;
    width:50%;
    margin-top:20px;
}
.THIS.button{
    margin-top:20px;
}
.THIS.checked{
    height:300px;
    width:400px;
    margin-top:20px;
}